body {
    font-family: Arial;
}


.menu {
    background-color: #003366;
    padding: 10px;
}

.menu a {
    display: inline-block;
    background-color: #0055aa;
    color: white;
    padding: 12px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.menu a:hover {
    background-color: #3399ff;
}